<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ proyecto?.id ? 'Editar' : 'Crear' }} Proyecto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Título *</ion-label>
    <ion-input [(ngModel)]="datosFormulario.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="datosFormulario.descripcion" rows="4"></ion-textarea>
  </ion-item>

  <ion-item class="image-upload-item">
    <ion-label position="stacked">Imagen (Opcional)</ion-label>
    <input type="file" accept="image/*" #fileInput style="display: none" (change)="onFileSelected($event)" />
    <ion-button expand="block" color="medium" (click)="fileInput.click()">
      <ion-icon name="image-outline" slot="start"></ion-icon>
      Seleccionar Imagen
    </ion-button>

    <div *ngIf="previsualizacion" class="preview-container">
      <img [src]="previsualizacion" class="preview-img" />
      <ion-button fill="clear" color="danger" size="small" (click)="borrarImagen()">
        <ion-icon name="trash-outline"></ion-icon> Quitar
      </ion-button>
    </div>
  </ion-item>

  <ion-button expand="block" color="success" (click)="guardar()" [disabled]="subiendo">
    {{ subiendo ? 'Guardando...' : 'Guardar Cambios' }}
  </ion-button>
</ion-content>